.App {
  text-align: center;
}
.box-formulario{
  text-align: left;

}

.inputs{
  width: 300px;
}

.botaoEnviar{
  padding: 10px;
  width: 60px;
  height: 35px;
  position: relative;
  left: 105px
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cabeca{
  height: 80px;
  margin:0;
  text-align: center;
  background-color: #282c34;
}

.branco{
  color:white;
}


#area-formulario{
  margin: 0px;
  padding:15px;
  width: 420px;
  height: 600px;
  text-align: center;
  font-size: 1.2em;
  padding-top: 50px;
  padding-bottom: 150px;
  
}

#destino{
  width: 350px;
  height: 30px;
  border-radius: 10px 20px;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  
}



input:focus{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

#check{
  display: flex;
  justify-content: space-around;
}

.checka{
  width: 100px;
  height: 30px;
  border-radius: 10px 20px;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

#qtd{
  display: flex;
  justify-content: space-around;
  font-size: 0.9em;
}

.qtda{
  width: 65px;
  height: 30px;
  border-radius: 10px 20px;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
input{
  background-color: #B7BABA;
}

#btn-buscar{
  width: 380px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #1567C3;
}

#btn-buscar:hover{
  top:-4px;
  box-shadow:0 4px 1px #030833;
  transition: all .2s ease-in-out;
}

#area-principal{
  display: flex;
  background-color: white;
  
  
}

#area-hoteis{
  width: 1100px;
  height: 450px;
  text-align: center;
}


#tabela{
  padding: auto;
  border-spacing: 15px 5px;
  background-color: #B7BABA;
  margin:50px auto;
}

.componentes{
  
}


