* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.App {
  text-align: center;
}
.box-formulario {
  text-align: left;
}

.inputs {
  width: 300px;
}

.botaoEnviar {
  padding: 10px;
  width: 60px;
  height: 35px;
  position: relative;
  left: 105px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cabeca {
  height: 80px;
  margin: 0;
  text-align: center;
  background-color: #282c34;
}

.branco {
  color: white;
}

#pesquisaGeral{
  margin: 0px;
  padding: 15px;
  width: 420px;
  height: 640px;
  text-align: left;
  background-color: white;
  border-right: 1px solid black;
}

.exibicao{
  margin: auto auto;
  width: 800px;
  height: 600px;
  border: 1px solid blue;
  padding: 10px;
}

.banner{
  width: 800px;
  height: 150px;
  background-color: cornflowerblue;
  position: relative;
}

.imagensPequenasDestinosJuntas{
  display: flex;
  justify-content: space-between;

}

.imagensPequenasDestinos{
  margin-top: 50px;
  width : 360px;
  height: 150px;
  background-color: #0cab16;
  position: relative;
}

.descricaoBanner{
  width: 100px;
  height: 35px;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#headerPesquisa{
  text-align: center;
}
#area-formulario {
  margin: auto auto;
}


#destino {
  width: 420px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  outline: 0;
}

input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}


.checka {
  width: 420px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  outline: 0;
}


.qtda {
  width: 420px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  outline: 0;
}
input {
  background-color: #b7baba;
}

#btn-buscar {
  width: 420px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #1567c3;
}

#btn-buscar:hover {
  top: -4px;
  box-shadow: 0 4px 1px #030833;
  transition: all 0.2s ease-in-out;
}

#area-principal {
  display: flex;
  background-color: white;
}

#area-hoteis {
  width: 1100px;
  height: 450px;
  text-align: center;
}

#tabela {
  padding: auto;
  border-spacing: 15px 5px;
  background-color: #b7baba;
  margin: 50px auto;
}

.cabecalho {
  
  height: 80px;
  background-color: #0cab16;
  text-align: center;
  margin: 0;
}

.navBar {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 180px;
}

a {
  text-decoration: none;
  color: #030833;
}

a:hover {
  background-color: white;
  color: black;
  top: -4px;
  box-shadow: 0 4px 1px #20bb28;
  transition: all 0.2s ease-in-out;
}
* {
  margin: 0;
  padding: 0;
}

#cadastroGeral {
  width: 1000px;
  height: 700px;
  margin: auto auto;
  border : 1px solid red
}

.backgroundBranco{
  background-color: white;
  text-align: center;
}

.hotel{
  margin: 30px auto;
  width: 800px;
  height: 180px;
  border: 1px solid blue;
  display: flex;

}

.imgHotel{
  height: 180px;
  width: 180px;;
}

