.pagination {
    display: flex;
    justify-content: space-between;
    list-style: none;
    cursor: pointer;
    width: 300px;
    margin: 10px auto;

  }

  .pagination a {
    padding: 10px;
    border-radius: 25px;
    background-color: #1830b9;
    border: 1px solid #1830b9;
    color: white;
    
  }

  #pesquisa{
      width : 720px;
      height: 25px;
      border-radius: 5px;
      background-color: white;
      border: 1px solid black;
  }
  #botaoPesquisa{
      width : 80px;
      height: 35px;
      text-decoration: none;
  }

#div-filtros{
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin: 10px 645px;
}

.filtrosLi{
  width: 100px;
  height: 30px;
  background-color: #3E4BDC;
  border-radius: 5px;
  border : none;
  color: white;
  cursor: pointer;
}

.filtrosLi i{
  margin:5px
}