* {
  margin: 0px;
}

#pf-principal {
  width: 700px;
  height: 400px;
  margin: 50px auto;
  text-align: center;
  padding: 10px;
}

#pf-dadosGerais {
  width: 600px;
  background-color: #e9e9eb;
  border: 1px solid black;
  margin: 20px auto;
  text-align: left;
  padding: 10px;
}
#pf-dadosGeraisSenha {
  width: 600px;
  height: 400px;
  background-color: #e9e9eb;
  border: 1px solid black;
  margin: 20px auto;
  text-align: left;
  padding: 10px;
}

.elementosEditaveis {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 30px auto;
  font-size: 1.1em;
}

.iconPen {
  background-color: #e9e9eb;
  border: none;
  font-size: 1.1em;
  cursor: pointer;
}

.iconSave {
  background-color: #e9e9eb;
  border: none;
  font-size: 1.1em;
  cursor: pointer;
  margin: 5px;
}

.pf-inputDados {
  width: 150px;
  height: 15px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

#pf-labelSenha {
  background-color: #e9e9eb;
  border: none;
  font-size: 1.15em;
}

#pf-imagemPerfil {
  border-radius: 1000px 1000px;
  border: 1px solid black;
  height: 180px;
  width: 180px;
  object-fit: scale-down;
}

#pf-imagemPerfilGeral {
  position: relative;
  width: 300px;
  margin: 25px auto;
}
#pf-botaoEditarImagem {
  position: absolute;
  bottom: 0px;
  right: 0px;
  float: right;
}

.iconPenImg {
  background-color: white;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}
input[type="file"] {
  display: none;
}

#pf-labelSelecao {
  background-color: #3498db;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 6px 20px;
}
